.cardContainer{
    background-color: #FCBF49;
    color: #1E1E1E;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    height: auto;
    overflow:hidden;

}

.image{
    width: 100%;
    height: auto;

    border-radius: 7px;

    align-items: center;
}

.rightContainer{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 90%;
    font-size: 15px;
}

.infoContainer {
    width: 100%;
    height: 90%;
}

.big{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.link{
    text-decoration: none;
    color:#1E1E1E;
    cursor: pointer;
}

.cardContainer:hover{
    transform: scale(1.05);
    background-color:#f7a90e;
}

.medium{
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}

.medium2{
    font-size: 15px;
    margin-top: 5px;
    font-weight: 600;
}

@media screen and (max-width: 767px) {
    .cardContainer{
        margin: 10px;
        margin-left: 17px;
        padding: 10px;
        border-radius: 10px;
        width: 125px;
        height: auto;
        overflow:hidden;    
    
    }
}

@media screen and (min-width: 1024px){
    .cardContainer{
        margin: 10px;
        margin-left: 40px;
        padding: 10px;
        border-radius: 10px;
        width: 225px;
        height: auto;
        overflow:hidden;    
    
    }
}