.cardContainer{
    background-color: #FCBF49;
    color: #1E1E1E;
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 95%;
    height: auto;
}

.image{
    width: 200px;
    height: auto;
    margin: 5px;
    border-radius: 3px;
}

.rightContainer{
    margin: auto;
    margin-top: 10px;
    width: 50%;
    text-align: center;
}