.footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 2%;
  height: 100px;
  background: #1E1E1E;
  width: 100%;

  font-size: 10px;
}

.textContainer {

    display: flex;
    flex-direction: row;
    gap: 20px;

    margin-left: 20px;
  

    padding: 0px;
    border-radius: 0px;
    text-align: center;
}

.names {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  border: 0;
}

.other {
  margin-top: 5px;
}